* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  padding: 3rem 0;
}

.container {
  margin: auto;
  max-width: fit-content;
}
.canvas-wrapper {
  position: relative;
}
.gui {
  z-index: 9999;
}
canvas {
  border: 1px solid yellow;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img {
  width: 32px;
  height: 32px;
  image-rendering: pixelated;
}
.ui {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 999;
}
